*.Rproj
.Rproj.user
.RData
.Rhistory
.Ruserdata
.Rprofile

.DS_Store
.vscode

*.aider*
.aider.chat.history.md
.aider.conf.yml
.aider.input.history
.aider.input.history

test_amr_host_bug.R
planning.txt